/* ==UserStyle==
@name           elearn.uef.fi - 09/11/2022, 2.50.10
@namespace      elearn.uef.fi
@version        1.0.0
@description    Dark Mode for UEF elearn
@author         Jeb - gitlab.com/jeb44
==/UserStyle== */

@-moz-document domain("elearn.uef.fi") {
    /*  LIGHT TEXT */
    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    div,
    body,
    small,
    span,
    b,
    select,
    small,
    .text-muted,
    .generaltable,
    td.submissionnotgraded,
    .dropdown-menu,
    .dropdown-item {
        color: #FFF!important;
    }

    .generaltable :hover {
        color: #FFF!important;
    }

    a,
    .fp-filename {
        color: #2AF!important;
    }


    hr {
        background: #FFF;
    }

    .text-dark {
        color: #AAA!important;
    }


    /*  DARK BACKGROUND */
    body,
    select,
    .badge-secondary,
    .btn-secondary,
    .form-control,
    .dashboard-card,
    .path-mod-workshop .userplan dd,
    td.submissionnotgraded,
    .dropdown-menu,
    .moodle-dialogue-wrap,
    .moodle-dialogue-hd.yui3-widget-hd,
    .file-picker .fp-content,
    .file-picker .card {
        background: #222!important;
    }

    .p-3,
    #region-main,
    .card,
    .img-text li,
    .list-group-item,
    .btn-light,
    .fp-filename {
        background: #333!important;
    }

    .bg-white {
        background: #444!important;
    }


    /*  OTHER */
    .img-text li {
        box-shadow: rgba(32, 32, 32, 1) 0px 0px 20px;
        margin-bottom: 5px!important;
        min-height: 65px;
    }

    .section li.activity.hasinfo {
        border-bottom: 1px solid transparent;
    }


    .form-control,
    .btn-light {
        box-shadow: 2px 2px 10px rgba(1, 1, 1, 0.55)!important;
    }


    .list-group-item-action,
    .text-muted {
        color: #CCC!important;
    }


    .btn-secondary {
        border-color: #268!important;
        color: #2AF!important;
    }

    .form-control,
    .btn-light,
    .custom-select {
        border: transparent;
    }


    .custom-select {
        background: #222 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath d='M2 0L0 2h4zm0 5L0 3h4z' fill='white' /%3e%3c/svg%3e") right .75rem center / 8px 10px no-repeat!important;
    }



    .path-mod-workshop .userplan dt.active,
    .path-mod-workshop .userplan dd.active,
    .navbar,
    .hasevent,
    .page-link,
    .btn-outline-secondary,
    .alert-success {
        background: #268!important;
    }

    .btn-outline-secondary {
        color: #2AF!important;
    }

    .progress-bar {
        background: #2AF!important;
    }


    /*      ICONS    */
    .fa-arrow-up,
    #action-menu-8-menu .icon,
    #navbar-course-search .course-search-btn {
        color: #268!important;
    }

    .navbar .icon {
        color: #000!important;
    }


    .nav-tabs .nav-link.active
    {
        background-color:#111;
        border: transparent 0;
        
    }

    a, .fp-filename {
        color: #FFF !important
    }

    /* Notifications */
    .popover-region-container {
        background-color: #111;
    }
    .content-item-container.notification {
        background-color: #222;
    }
    .content-item-container.notification.unread {
        background-color: #124;
    }
    .popover-region-footer-container {
        background-color: black;
    }
    .popover-region-header-actions .icon {
        color: #FFF !important;
    }

    /* placeholder when fetching data*/
    .bg-pulse-grey{
        animation:bg-pulse-grey 2s infinite linear;
    }

    @keyframes bg-pulse-grey{
        0%{background-color:#11435C}
        50%{background-color:#268}
        100%{background-color:#11435C}
    }

    /* highlighted bg */
    span[style*="background-color: #ffffff;"] {
        color: #000 !important
    }

    span[style*="background-color: rgb(255, 207, 53);"] {
        color: #000 !important
    }

    span[style*="background-color: #ffff00;"] {
        color: #000 !important
    }

    span[style*="background-color: #ffcf35;"] {
        color: #000 !important
    }

    /* search input */
    .form-control {
        color: #EEE
    }

    /* boxshadow */
    .dashboard-card,
    .path-mod-workshop .userplan dd {
        box-shadow: 2px 2px 7px rgba(255, 255, 255, .1) !important;
    }
}
